body {
  background-color: #f9f9f9;
  font-family: Poppins, sans-serif;
}
li {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}
nav {
  background-color: white;
}

#navbar-ul {
  margin-left: auto;
  margin-right: 0 !important;
}
a {
  text-decoration: none;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container h1 {
  font-weight: bold;
}
p.home-description {
  width: 500px;
  font-family: "Roboto Mono", monospace;
}

.photo-container {
  width: 400px;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons-container {
  font-size: 2.4em;
}
.fa-linkedin {
  color: blue;
}
.fa-github {
  color: black;
}

.tech-stack-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 50px;
}

.tech-stack-container p {
  margin: 0;
}
.tech-stack {
  display: flex;
  gap: 20px;
}

.tech-stack img {
  width: 60px;
  object-fit: contain;
}

@media only screen and (max-width: 990px) {
  #home {
    padding-top: 150px;
    margin-bottom: 300px;
  }
  .home-container {
    flex-direction: column-reverse;
  }
  .home-container p {
    width: 100vw;
    text-align: center;
  }
  .home-container h1 {
    padding: 20px 0;
    font-size: 3.3rem;
    text-align: center;
  }
  .icons-container {
    text-align: center;
  }
  .tech-stack-container {
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
  }
  .tech-stack {
    gap: 1;
  }
  .photo-container {
    width: 80vw;
  }
  p.home-description {
    width: 100%;
    font-family: "Roboto Mono", monospace;
  }
}

#about {
  background-color: white;
  padding: 200px 30px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.about-me-text {
  width: 40em;
}
.about-me-text h3 {
  font-family: "Oxygen";
}

.about-me-text p {
  text-align: justify;
}

.about-me-img {
  width: 500px;
}

.about-me-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-me-text .btn {
  margin-top: 20px;
}

@media only screen and (max-width: 990px) {
  #about {
    flex-direction: column-reverse;
  }
  .about-me-text {
    width: 100%;
  }
}

/* Projects */
#projects {
  padding: 0 10%;
  padding: 50px 0;
}
.projects-container {
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  gap: 100px;
}

.project {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-attachment {
  width: 50%;
}
.project-img {
  width: 100%;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 15px;
}
.btn-outline-info {
  font-weight: bold;
}

.technologies {
  width: 80%;
}

@media only screen and (max-width: 990px) {
  .project {
    flex-direction: column-reverse;
    align-items: center;
  }
  .project-info {
    width: 100%;
  }
  .project-attachment {
    width: 100%;
  }
  .technologies {
    width: 100%;
  }
}
#experience {
  padding: 50px 0;
  background-color: white;
  height: 800px;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

#contact {
  padding: 100px 0;
  height: 440px;
}
#contact h2 {
  text-align: center;
}
.contact-methods {
  padding: 50px 0;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.fa-envelope {
  font-size: 4em;
}
.contact-methods span {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.contact-methods a {
  margin: 0;
  text-decoration: none;
  color: black;
}
.contact-methods .icons-container {
  display: flex;
  gap: 20px;
  font-size: 4em;
}

@media only screen and (max-width: 990px) {
  .contact-methods {
    flex-direction: column;
  }
  #contact {
    padding: 200px 0;
  }
  #experience {
    padding: 50px 0;
    height: 100%;
  }
}
